#server:
#  port: 8080
spring:
  application:
    name: springboot_project
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/local_test?serverTimezone=GMT%2b8
    username: root
    password: 123123
    type: com.alibaba.druid.pool.DruidDataSource
#  redis:
#    host: localhost
#    port: 6379
#    database: 1
#    lettuce:
#      #Redis连接池配置
#      pool:
#        max-active: 8 #最大连接数
#        max-wait: 100ms #连接池最大阻塞等待时间
#        max-idle: 4 #连接池中的最大空闲连接
#        min-idle: 0 #连接池中的最小空闲连接
  servlet:
    multipart:
      max-file-size: 1024MB
      max-request-size: 1024MB
#      ouath2的security集成
  security:
    user:
      name: demo-user # 定义一个用于登录的用户名
      password: demo-pass # 定义该用户的密码
    jackson:
      serialization:
        write-dates-as-timestamps: false # 让日期返回格式更友好
authorization-server:
  issuer: http://localhost:9000
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
logging:
  level:
    com.whj.test.token: debug
    org.springframework.security: DEBUG  # 开启 Spring Security 的调试日志，便于排查问题
    org.keycloak: DEBUG
swagger:
  enable: true
  production: false

#keycloak:
#  realm: ssoRealm                  # 替换为您的 Realm 名称
#  auth-server-url: http://10.10.52.138:9000/    # Keycloak 服务器地址，注意 /auth 路径
#  resource: ssoClient               # 替换为您在 Keycloak 中为网关创建的 Client ID
#  credentials:
#    secret: tfwIOv07qVDXukbhc4VZymMGZdfE1Rh4   # 替换为您的 Client Secret
#  bearer-only: false                     # 网关需要验证 Token，因此设置为 false
#  ssl-required: external                 # 根据您的 Keycloak 配置调整
#  use-resource-role-mappings: true
#
server:
  port: 9000 # 授权服务器运行在 9000 端口


